<app-header></app-header>

<!-- ==============================================
Header
=============================================== -->
<header class="header-blog">
  <div class="container">
    <div class="content">
      <div class="row">
        <h1 class="revealOnScroll" data-animation="fadeInDown"><i class="fa fa-coffee"></i> Blog</h1>
        <p>Keep up to date with the latest news.</p>
      </div><!-- /.row -->
    </div><!-- /.content -->
  </div><!-- /.container -->
</header><!-- /header -->

<!-- ==============================================
Banner Section
=============================================== -->
<div class="blog-categories">
  <div class="container">
    <a class="blog-title"><i class="fa fa-coffee"></i> Blog</a>
    <input type="checkbox" id="drop"/>
    <label for="drop" class="drop"></label>
    <ul class="cat text-center">
      <li class="cat-item current-cat">
        <a href="#">Latest</a>
      </li>
      <li class="cat-item">
        <a href="#">Online Work</a>
      </li>
      <li class="cat-item">
        <a href="#">Design</a>
      </li>
      <li class="cat-item">
        <a href="#">Startups</a>
      </li>
      <li class="cat-item">
        <a href="#">Marketing</a>
      </li>
      <li class="cat-item">
        <a href="#">Press</a>
      </li>
      <li class="cat-item">
        <a href="#">Updates</a>
      </li>
    </ul><!-- /ul.cat -->

  </div><!-- /.container -->
</div><!-- /.blog-categories -->

<!-- ==============================================
Blog Section
=============================================== -->
<section class="blog">
  <div class="container text-left">
    <div class="row mt">
      <div class="col-lg-12">
        <h3>Recent Posts</h3>
      </div><!-- col-lg-12 -->
      <div class="col-lg-8">
        <span>Our latests thoughts about things that only matters to us.</span>
      </div><!-- col-lg-8-->
      <div class="col-lg-4">
        <span class="pull-right-sm"><a href="#"><i class="fa fa-angle-right"></i> See All Posts</a></span>
      </div>
    </div><!-- row -->

    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 bb">
        <div class="panel">
          <a href="blogpage.html" class="caption-link">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-angle-right fa-3x"></i></div><!-- /.caption -->
            </div><!-- /.caption-content -->
            <img class="img-responsive panel-img" src="../../../assets/img/blog/1.jpg" alt=""> </a></div>
        <!-- /.panel -->
        <a href="blogpage.html" class="a-body">
          <div class="panel-body">
            <h4>Designing for the reader experience</h4>
            <div class="date">April 29th 2016</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout.</p>
            <hr/>
            <ul class="bottom_data">
              <li>By John Doe</li>
            </ul><!-- /.bottom_data -->
            <ul class="bottom_data pull-right">
              <li><i class="fa fa-comment-o"></i>19</li>
              <li><i class="fa fa-heart-o"></i>3</li>
              <li><i class="fa fa-align-left"></i>2 Min Read</li>
            </ul><!-- /.bottom_data -->
          </div>
          <!-- /.panel-body -->
        </a>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 bb">
        <div class="panel">
          <a href="blogpage.html" class="caption-link">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-angle-right fa-3x"></i></div><!-- /.caption -->
            </div><!-- /.caption-content -->
            <img class="img-responsive panel-img" src="../../../assets/img/blog/2.jpg" alt=""> </a></div>
        <!-- /.panel -->
        <a href="blogpage.html" class="a-body">
          <div class="panel-body">
            <h4>25 Examples of flat web & application design</h4>
            <div class="date">April 22nd 2016</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout.</p>
            <hr/>
            <ul class="bottom_data">
              <li>By John Doe</li>
            </ul><!-- /.bottom-data -->
            <ul class="bottom_data pull-right">
              <li><i class="fa fa-comment-o"></i>15</li>
              <li><i class="fa fa-heart-o"></i>10</li>
              <li><i class="fa fa-align-left"></i>6 Min Read</li>
            </ul><!-- /.bottom-data -->
          </div>
          <!-- /.panel-body -->
        </a>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 bb">
        <div class="panel">
          <a href="blogpage.html" class="caption-link">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-angle-right fa-3x"></i></div><!-- /.caption -->
            </div><!-- /.nav -->
            <img class="img-responsive panel-img" src="../../../assets/img/blog/3.jpg" alt=""> </a></div>
        <!-- /.panel -->
        <a href="blogpage.html" class="a-body">
          <div class="panel-body">
            <h4>We are an award winning design agency</h4>
            <div class="date">April 15th 2016</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout.</p>
            <hr/>
            <ul class="bottom_data">
              <li>By John Doe</li>
            </ul><!-- /.bottom-data -->
            <ul class="bottom_data pull-right">
              <li><i class="fa fa-comment-o"></i>3</li>
              <li><i class="fa fa-heart-o"></i>4</li>
              <li><i class="fa fa-align-left"></i>4 Min Read</li>
            </ul><!-- /.bottom-data -->
          </div>
          <!-- /.panel-body -->
        </a>
      </div><!-- /.col-lg-4 -->

    </div><!-- row -->

    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 bb">
        <div class="panel">
          <a href="blogpage.html" class="caption-link">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-angle-right fa-3x"></i></div><!-- /.caption -->
            </div><!-- /.caption-content -->
            <img class="img-responsive panel-img" src="../../../assets/img/blog/4.jpg" alt=""> </a></div>
        <!-- /.panel -->
        <a href="blogpage.html" class="a-body">
          <div class="panel-body">
            <h4>In commodo justo a purus laoreet laoreet.</h4>
            <div class="date">April 8th 2016</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout.</p>
            <hr/>
            <ul class="bottom_data">
              <li>By John Doe</li>
            </ul><!-- /.bottom-data -->
            <ul class="bottom_data pull-right">
              <li><i class="fa fa-comment-o"></i>03</li>
              <li><i class="fa fa-heart-o"></i>0</li>
              <li><i class="fa fa-align-left"></i>5 Min Read</li>
            </ul><!-- /.bottom-data -->
          </div>
          <!-- /.panel-body -->
        </a>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 bb">
        <div class="panel">
          <a href="blogpage.html" class="caption-link">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-angle-right fa-3x"></i></div><!-- /.caption -->
            </div><!-- /.caption-content -->
            <img class="img-responsive panel-img" src="../../../assets/img/blog/5.jpg" alt=""> </a></div>
        <!-- /.panel -->
        <a href="blogpage.html" class="a-body">
          <div class="panel-body">
            <h4>In commodo justo a purus laoreet laoreet.</h4>
            <div class="date">April 1st 2016</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout.</p>
            <hr/>
            <ul class="bottom_data">
              <li>By John Doe</li>
            </ul><!-- /.bottom-data -->
            <ul class="bottom_data pull-right">
              <li><i class="fa fa-comment-o"></i>10</li>
              <li><i class="fa fa-heart-o"></i>1</li>
              <li><i class="fa fa-align-left"></i>10 Min Read</li>
            </ul><!-- /.bottom-data -->
          </div>
          <!-- /.panel-body -->
        </a>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 bb">
        <div class="panel">
          <a href="blogpage.html" class="caption-link">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-angle-right fa-3x"></i></div><!-- /.caption -->
            </div><!-- /.caption-content -->
            <img class="img-responsive panel-img" src="../../../assets/img/blog/6.jpg" alt=""> </a></div>
        <!-- /.panel -->
        <a href="blogpage.html" class="a-body">
          <div class="panel-body">
            <h4>We are an award winning design agency</h4>
            <div class="date">March 25th 2016</div>
            <p>It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout.</p>
            <hr/>
            <ul class="bottom_data">
              <li>By John Doe</li>
            </ul><!-- /.bottom-data -->
            <ul class="bottom_data pull-right">
              <li><i class="fa fa-comment-o"></i>19</li>
              <li><i class="fa fa-heart-o"></i>3</li>
              <li><i class="fa fa-align-left"></i>2 Min Read</li>
            </ul><!-- /.bottom-data -->
          </div>
          <!-- /.panel-body -->
        </a>
      </div><!-- /.col-lg-4 -->

    </div><!-- row -->

    <div class="row">
      <div class="page text-center">
        <ul class="pagination">
          <li class="disabled"><a href="#">«</a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div><!-- /.page -->
    </div><!-- /.row -->

  </div><!-- container -->
</section><!-- /.section -->

<!-- ==============================================
Footer Section
=============================================== -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 text-left">
        <h4 class="heading no-margin">About Us</h4>
        <hr class="mint">
        <p>The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to
          connect, collaborate, and get work done.</p>
        <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with
          great focus on user experience and customer service.</p>
      </div><!-- /.col-md-4 -->

      <div class="col-md-2 col-sm-6 text-left">
        <h4 class="heading no-margin">Company</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="jobs.html">Jobs</a>
          <a href="services.html">Freelancers</a>
          <a href="how-1.html">How it works</a>
          <a href="contact.html">Contact</a>
        </div>
      </div><!-- /.col-md-2 -->

      <div class="col-md-3 col-sm-6 text-left">
        <h4 class="heading no-margin">Other Services</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="faq.html">FAQ</a>
        </div>
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6 text-left">
        <h4 class="heading no-margin">Browse</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="services.html">Top Freelancers this Month of June</a>
          <a href="services.html">Top Freelancers by Skill</a>
          <a href="services.html">Top Freelancers in USA</a>
          <a href="services.html">Top Freelancers in UK</a>
          <a href="services.html">Top Freelancers in Australia</a>
          <a href="services.html">Top Freelancers in Kenya</a>
        </div>
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
    <div class="clearfix"></div>
  </div><!-- /.container-->
</div><!-- /.footer -->

<!-- ==============================================
Made Section
=============================================== -->
<section class="made">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4 class="made-with-love">The Kafe. Template</h4>
        <p class="made-with-love-1">Handcrafted with <i class="fa fa-heart"></i> &amp; Much <i
          class="fa fa-coffee"></i> In Nairobi, Kenya.</p>
      </div>
      <!-- /.col-lg-10 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.made -->

<!-- ==============================================
Bottom Footer Section
=============================================== -->
<footer id="main-footer" class="main-footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ul class="social-links">
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i
            class="fa fa-facebook fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i
            class="fa fa-twitter fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i
            class="fa fa-google-plus fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i
            class="fa fa-pinterest fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i
            class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn"
           data-timeout="200">
        <div class="img-responsive text-center">
          <i class="fa fa-coffee logo"></i></div><!-- End image-->
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight"
           data-timeout="200">
        <p>&copy;2016 Trusted Deal Makers</p>
      </div>
      <!-- /.col-sm-4 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.footer -->

<a id="scrollup">Scroll</a>
