<app-header></app-header>


<!-- ==============================================
Hello Section
=============================================== -->

<section class="hello" id="hello">
  <div class="container">
    <div class="row">
      <div class="container">
        <form action="https://trusteddealmaker.com/index.php/profile/edit" method="post" accept-charset="utf-8" enctype="multipart/form-data">		<div class="row">
          <div class="col-sm-12 bg-sky profile-image">
            <div class=" col-sm-12 profile-img padding-top ">
              <a class="flipLightBox-1" href="https://trusteddealmaker.com/upload/man.jpg">
                <img src="https://trusteddealmaker.com/template/img/no_image.gif" class="img-circle img-responsive animated fadeInLeftBig center">
              </a>
            </div>
            <div class="col-sm-12 text-center animated fadeInLeftBig">
              <h2 class="text-white">
                iyke idukpaye
              </h2>
              <h5 class="text-white" style="padding-left:20px;">Joining Date :30-Nov-2013 07:37:51 AM</h5>
            </div>
          </div>
        </div>
          <div class="row margin-top-bot">
            <div class="col-sm-3 animated fadeInLeftBig">
              <h3 class="border-gray profile-hd3">Firstname</h3>
              <div class="form-group">
                <input class="form-control" name="first_name" value="iyke">
              </div>
            </div>
            <div class="col-sm-3 animated fadeInLeftBig">
              <h3 class="border-gray profile-hd3">Lastname</h3>
              <div class="form-group">
                <input class="form-control" name="last_name" value="idukpaye">
              </div>
            </div>
            <div class="col-sm-3 animated fadeInLeftBig">
              <h3 class="border-gray profile-hd3">Email</h3>
              <div class="form-group">
                <input class="form-control" name="email" value="iykeidukpaye@yahoo.com">
              </div>
            </div>
            <div class="col-sm-3 animated fadeInLeftBig">
              <h3 class="border-gray profile-hd3">Contact No</h3>
              <div class="form-group">
                <div class="">
                  <input class="form-control" id="contact_no" name="contact_number" value="7089997406">
                </div>



              </div>
            </div>
            <div class="col-sm-6 animated fadeInLeftBig">
              <h3 class="border-gray profile-hd3">About Us</h3>
              <div class="form-group">
                <textarea class="form-control" rows="5" name="about_us"></textarea>
              </div>
            </div>
            <div class="col-sm-3 animated fadeInRightBig">
              <h3 class="border-gray profile-hd3">Service Categories</h3>
              <div class="form-group">
                <select name="service_type[]" id="service_type" class="form-control" size="6" multiple="">
                  <option value="1">Agriculture</option>

                  <option value="2">Apparel</option>

                  <option selected="selected" value="1700">Auto</option>

                  <option value="1854">Biz, Acct, Hr, &amp; Legal </option>

                  <option value="2794">Construction services </option>

                  <option value="2733">Data entry /ADMIN</option>

                  <option value="2634">Design, Media &amp; Architecture</option>

                  <option value="3">Energy</option>

                  <option value="1721">Engineering &amp; Science </option>

                  <option value="2173">Entertainment </option>

                  <option value="4">Environment</option>

                  <option value="13">Environment</option>

                  <option value="14">Fashion Accessories</option>

                  <option value="15">Furniture</option>

                  <option value="16">Hardware</option>

                  <option value="17">Health &amp; Medical</option>

                  <option value="1533">Home  Services </option>

                  <option value="18">Home &amp; Garden</option>

                  <option value="33">Home Services</option>

                  <option value="2404">InSURANCE </option>

                  <option value="19">Lights &amp; Lighting</option>

                  <option value="2054">Local Jobs and Trade </option>

                  <option value="20">Luggage, Bags &amp; Cases</option>

                  <option value="21">Machinery</option>

                  <option value="1787">Manufacturing</option>

                  <option value="22">Measurement &amp; Analysis Instruments </option>

                  <option value="23">Mechanical Parts</option>

                  <option value="24">Mechanical Parts &amp; Fabrication Services</option>

                  <option value="2378">Medical Facilities </option>

                  <option value="2146">Medical Retailers </option>

                  <option value="2240">Medicals </option>

                  <option value="2573">Mobile Phones and computing </option>

                  <option value="25">Office &amp; School Supplies</option>

                  <option value="2760">Others</option>

                  <option value="2208">Outdoor</option>

                  <option value="26">Packaging &amp; Printing</option>

                  <option value="2196">Pet Mgt</option>

                  <option value="1830">Sales &amp; Marketing </option>

                  <option value="27">Shoes &amp; Accessories</option>

                  <option value="28">Test Category</option>

                  <option value="29">test category</option>

                  <option value="30">test category1</option>

                  <option value="31">test category2</option>

                  <option value="32">test category3</option>

                  <option value="2084">Translation </option>

                  <option value="2423">WEBSITES, IT &amp; SOFTWARE </option>

                  <option value="2594">Writing and Content</option>

                </select>
              </div>
            </div>
            <div class="col-sm-3 animated fadeInRightBig">
              <h3 class="border-gray profile-hd3">Change Password</h3>
              <div class="form-group">
                <label>Password:<label>&nbsp;&nbsp;&nbsp;xxxxxxxxx
                  <span class="btn btn-warning btn-xs" id="chg_password">Edit</span>
                </label></label></div>
            </div>
          </div>

          <button class="form-control">Save</button>
        </form>	</div>
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
  <!-- /.container -->
</section><!-- End section-->

<!-- ==============================================
Footer Section
=============================================== -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 text-left">
        <h4 class="heading no-margin">About Us</h4>
        <hr class="mint">
        <p>The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to
          connect, collaborate, and get work done.</p>
        <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with
          great focus on user experience and customer service.</p>
      </div><!-- /.col-md-4 -->

      <div class="col-md-2 col-sm-6 text-left">
        <h4 class="heading no-margin">Company</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="jobs.html">Jobs</a>
          <a href="services.html">Freelancers</a>
          <a href="how-1.html">How it works</a>
          <a href="contact.html">Contact</a>
        </div>
      </div><!-- /.col-md-2 -->

      <div class="col-md-3 col-sm-6 text-left">
        <h4 class="heading no-margin">Other Services</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="faq.html">FAQ</a>
        </div>
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6 text-left">
        <h4 class="heading no-margin">Browse</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="services.html">Top Freelancers this Month of June</a>
          <a href="services.html">Top Freelancers by Skill</a>
          <a href="services.html">Top Freelancers in USA</a>
          <a href="services.html">Top Freelancers in UK</a>
          <a href="services.html">Top Freelancers in Australia</a>
          <a href="services.html">Top Freelancers in Kenya</a>
        </div>
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
    <div class="clearfix"></div>
  </div><!-- /.container-->
</div><!-- /.footer -->

<!-- ==============================================
Made Section
=============================================== -->
<section class="made">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4 class="made-with-love">The Kafe. Template</h4>
        <p class="made-with-love-1">Handcrafted with <i class="fa fa-heart"></i> &amp; Much <i
          class="fa fa-coffee"></i> In Nairobi, Kenya.</p>
      </div>
      <!-- /.col-lg-10 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.made -->

<!-- ==============================================
Bottom Footer Section
=============================================== -->
<footer id="main-footer" class="main-footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ul class="social-links">
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i
            class="fa fa-facebook fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i
            class="fa fa-twitter fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i
            class="fa fa-google-plus fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i
            class="fa fa-pinterest fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i
            class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn"
           data-timeout="200">
        <div class="img-responsive text-center">
          <i class="fa fa-coffee logo"></i></div><!-- End image-->
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight"
           data-timeout="200">
        <p>&copy;2016 Trusted Deal Makers</p>
      </div>
      <!-- /.col-sm-4 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.footer -->

<a id="scrollup">Scroll</a>
