<app-header></app-header>

<!-- ==============================================
Header
=============================================== -->
<header class="header-blogpage">
  <div class="container">
    <div class="content">
      <div class="row">
        <h6 class="revealOnScroll" data-animation="fadeInDown"><a href="#">Design</a></h6>
        <h3 class="revealOnScroll" data-animation="slideInRight" data-timeout="200">Designing for the reader
          experience.</h3>
      </div><!-- /.row -->
    </div><!-- /.content -->
  </div><!-- /.container -->
</header><!-- /header -->

<!-- ==============================================
Blog Page Section
=============================================== -->
<section class="blogpage jobpost" id="blogpage">
  <div class="container text-left">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 white-blogpage">

        <h4>Designing for the reader experience.</h4>
        <hr class="small-hr">

        <div class="row post-top-sec animations fade-down d2">
          <div class="col-lg-3">
            <h5> Posted </h5>
            <p>April 29th 2016</p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <h5> Comments </h5>
            <p><i class="fa fa-comment-o"></i> 19</p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <h5> Like(s) </h5>
            <p><i class="fa fa-heart-o"></i> 3</p>
          </div><!-- /.col-lg-3 -->
          <div class="col-lg-3">
            <h5> Read Time </h5>
            <p><i class="fa fa-align-left"></i> 2 Min Read</p>
          </div><!-- /.col-lg-3 -->

          <div class="col-lg-12">
            <hr class="small-hr">
          </div> <!-- /.col-lg-12 -->
        </div><!-- /.row -->

        <p>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam. Unum saepe ea
          vim, ius sensibus volutpat et, eum legere nostrum explicari ei. Sed ex legere hendrerit. Ei saperet
          officiis has, eu usu prompta mandamus. Vix dicat electram ei, ne sea aeterno ornatus perpetua, ne
          cum omnis voluptua iracundia.</p>
        <p>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et. Vivendo ponderum id
          pro. Vidit offendit quaerendum est et, no eos prima tamquam, eu duo ludus noster praesent. Sea cu
          quod illum. Affert munere ut vis, ponderum gubergren sit ne. Nam at magna homero feugait.</p>
        <blockquote>
          Odio laoreet vivendum ex vis. At mentitum assueverit nam, mel ex dolorem tacimates praesent. Saepe
          nemore duo te, no nec cetero eligendi mnesarchum. Ne congue similique eloquentiam has. Wisi
          omittantur definitiones vis in. Pro munere assueverit id, debitis scaevola omittantur vim ex, qui
          meis tantas et. Vivendo ponderum id pro. Vidit offendit quaerendum est et, no eos prima tamquam, eu
          duo ludus noster praesent. Sea cu quod illum. Affert munere ut vis, ponderum gubergren sit ne. Nam
          at magna homero feugait.
        </blockquote>

        <h4>Good design goes to heaven, bad design goes everywhere.</h4><br/>
        <p><img src="../../../assets/img/blog/5.jpg" class="img-responsive" alt=""/></p>
        <p>Odio laoreet vivendum ex vis. At mentitum assueverit nam, mel ex dolorem tacimates praesent. Saepe
          nemore duo te, no nec cetero eligendi mnesarchum. Ne congue similique eloquentiam has. Wisi
          omittantur definitiones vis in.</p>
        <p>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid. Eos meliore
          interesset id. Ne has fabellas elaboraret.</p>
        <p>Ne iriure reprimique vel. Ex alii pericula pri, idque veritus ius id. Etiam doctus aperiam cu mea,
          vel cibo dicunt ad, vim luptatum delicatissimi eu. Diam mentitum explicari no vim, tantas nominavi
          eos in. Ei pri omnis verterem antiopam.</p>

        <h4>Lorem ipsum</h4>
        <ul class="square">
          <li>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam.</li>
          <li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et.</li>
          <li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
          <li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
        </ul>

        <h4>Lorem ipsum</h4>
        <ul class="square">
          <li>Lorem ipsum dolor sit amet, lorem quaestio similique has at, possit vivendum ne nam.</li>
          <li>Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et.</li>
          <li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
          <li>Pertinacia neglegentur vix ne. Illum accusata id quo, vis ex mucius iisque aliquid.</li>
        </ul>
      </div><!-- /.col-lg-8 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /section -->

<!-- ==============================================
Articles Section
=============================================== -->
<section class="articles" id="articles">
  <div class="container-fluid">

    <div class="col-md-4 col-sm-4 col-xs-12">
      <a href="blogpage.html">
        <div class="tint">
          <div class="featured-thumbnail">
            <img class="img-responsive" src="../../../assets/img/blog/2.jpg" alt=""/>
          </div>
        </div>
      </a>
      <div class="col-md-12 featured-titles">
        <h6>
          <a href="blog.html">Design</a>
        </h6>
        <hr/>
        <p class="blog-title">
          <a href="blogpage.html">25 Examples of flat web & application design.</a>
        </p>

      </div><!-- /.col-md-12 -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4 col-sm-4 col-xs-12">
      <a href="blogpage.html">
        <div class="tint">
          <div class="featured-thumbnail">
            <img class="img-responsive" src="../../../assets/img/blog/3.jpg" alt=""/>
          </div>
        </div>
      </a>
      <div class="col-md-12 featured-titles">
        <h6>
          <a href="blog.html">Design</a>
        </h6>
        <hr/>
        <p class="blog-title">
          <a href="blogpage.html">We are an award winning design agency.</a>
        </p>

      </div><!-- /.col-md-12 -->
    </div><!-- /.col-md-4 -->

    <div class="col-md-4 col-sm-4 col-xs-12">
      <a href="blogpage.html">
        <div class="tint">
          <div class="featured-thumbnail">
            <img class="img-responsive" src="../../../assets/img/blog/4.jpg" alt=""/>
          </div>
        </div>
      </a>
      <div class="col-md-12 featured-titles">
        <h6>
          <a href="blog.html">Design</a>
        </h6>
        <hr/>
        <p class="blog-title">
          <a href="blogpage.html">In commodo justo a purus laoreet laoreet.</a>
        </p>
      </div><!-- /.col-md-12 -->
    </div><!-- /.col-md-4 -->

  </div><!-- /.container -->
</section><!-- /.section -->

<!-- ==============================================
Blog Author Section
=============================================== -->
<section class="blogauthor" id="blogauthor">
  <div class="container animations fade-in d3">
    <h3 class="text-center title"><span>Author</span></h3>
    <div class="row text-center">
      <div class="col-lg-12">
        <img class="img-responsive" src="../../../assets/img/users/1.png" alt=""/>
        <h5><a href="#">John Doe</a></h5>
        <p class="desc">Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis tantas et.
          Vivendo ponderum id pro. Vidit offendit quaerendum est et, no eos prima tamquam, eu duo ludus noster
          praesent.</p>
      </div><!-- /.col-lg-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /section -->

<!-- ==============================================
Comments Section
=============================================== -->
<section class="comments">
  <div class="container text-left">
    <h3>Comments<span>(3)</span></h3>
    <div class="row">

      <div class="col-lg-12 comment revealOnScroll" data-animation="slideInUp" data-timeout="800">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comment-logo">
            <a href="#"><img src="../../../assets/img/users/2.png" class="img-responsive" width="65" height="66" alt=""></a>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 comment-body">
            <h6>John Doe <a href="#" class="pull-right">Reply</a></h6>
            <span class="comment-date">16 Feb 16</span>
            <p class="comment-text">Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis
              tantas et. Vivendo ponderum id pro.</p>
          </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
      </div><!-- /.col-lg-12 -->

      <div class="col-lg-12 comment revealOnScroll" data-animation="slideInUp" data-timeout="800">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-sm-push-2 comment-logo">
            <a href="#"><img src="../../../assets/img/users/3.png" class="img-responsive" width="65" height="66" alt=""></a>
          </div>
          <div class="comment-body-one col-sm-8 col-md-8 col-sm-12 col-xs-12 col-sm-push-2">
            <h6>John Doe <a href="#" class="pull-right">Reply</a></h6>
            <span class="comment-date">16 Feb 16</span>
            <p class="comment-text">Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis
              tantas et. Vivendo ponderum id pro.</p>
          </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
      </div><!-- /.col-lg-12 -->

      <div class="col-lg-12 comment revealOnScroll" data-animation="slideInUp" data-timeout="800">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 comment-logo">
            <a href="#"><img src="../../../assets/img/users/4.png" class="img-responsive" width="65" height="66" alt=""></a>
          </div>
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 comment-body">
            <h6>John Doe <a href="#" class="pull-right">Reply</a></h6>
            <span class="comment-date">16 Feb 16</span>
            <p class="comment-text">Pro munere assueverit id, debitis scaevola omittantur vim ex, qui meis
              tantas et. Vivendo ponderum id pro.</p>
          </div><!-- /.col-lg-10 -->
        </div><!-- /.row -->
      </div><!-- /.col-lg-12 -->

    </div><!--./row -->
  </div><!--./container -->
</section><!--./section -->


<!-- ==============================================
Comment Form
=============================================== -->

<section class="contact">
  <div class="container">
    <div class="row">

      <div class="text-center">
        <h3>Post Comment</h3>
        <hr class="mint">
      </div>

      <!-- The contactform -->
      <!--<form >-->
        <fieldset>
          <div class="col-lg-6">
            <!-- Name -->
            <label for="name" accesskey="U"><i class="fa fa-user"></i></label>
            <input name="name" type="text" id="name" size="30" value=""/>

            <!-- Email -->
            <label for="email" accesskey="E"><i class="fa fa-envelope-o"></i></label>
            <input name="email" type="text" id="email" size="30" value=""/>

            <!-- Phone -->
            <label for="website" accesskey="P"><i class="fa fa-globe"></i></label>
            <input name="website" type="text" id="website" size="30" value=""/>
          </div>
          <div class="col-lg-6">
            <!-- Comments / Message -->
            <label for="comments" accesskey="C"><i class="fa fa-comment"></i></label>
            <textarea name="comments" id="comments"></textarea>

            <!-- Verification -->
            <label for="verify" accesskey="V">3 * 15 =</label>
            <input name="verify" type="text" id="verify" size="4" value="" class="input-verify"/>
          </div>
          <div class="col-lg-12 text-center">
            <!-- Send button -->
            <button type="submit" class="kafe-btn kafe-btn-mint full-width">Submit</button>
          </div>
        </fieldset>
      <!--</form>-->

    </div><!--./row -->
  </div><!--./container -->
</section><!--./section -->

<!-- ==============================================
Footer Section
=============================================== -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 text-left">
        <h4 class="heading no-margin">About Us</h4>
        <hr class="mint">
        <p>The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to
          connect, collaborate, and get work done.</p>
        <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with
          great focus on user experience and customer service.</p>
      </div><!-- /.col-md-4 -->

      <div class="col-md-2 col-sm-6 text-left">
        <h4 class="heading no-margin">Company</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="jobs.html">Jobs</a>
          <a href="services.html">Freelancers</a>
          <a href="how-1.html">How it works</a>
          <a href="contact.html">Contact</a>
        </div>
      </div><!-- /.col-md-2 -->

      <div class="col-md-3 col-sm-6 text-left">
        <h4 class="heading no-margin">Other Services</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="faq.html">FAQ</a>
        </div>
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6 text-left">
        <h4 class="heading no-margin">Browse</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="services.html">Top Freelancers this Month of June</a>
          <a href="services.html">Top Freelancers by Skill</a>
          <a href="services.html">Top Freelancers in USA</a>
          <a href="services.html">Top Freelancers in UK</a>
          <a href="services.html">Top Freelancers in Australia</a>
          <a href="services.html">Top Freelancers in Kenya</a>
        </div>
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
    <div class="clearfix"></div>
  </div><!-- /.container-->
</div><!-- /.footer -->

<!-- ==============================================
Made Section
=============================================== -->
<section class="made">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4 class="made-with-love">The Kafe. Template</h4>
        <p class="made-with-love-1">Handcrafted with <i class="fa fa-heart"></i> &amp; Much <i
          class="fa fa-coffee"></i> In Nairobi, Kenya.</p>
      </div>
      <!-- /.col-lg-10 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.made -->

<!-- ==============================================
Bottom Footer Section
=============================================== -->
<footer id="main-footer" class="main-footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ul class="social-links">
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i
            class="fa fa-facebook fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i
            class="fa fa-twitter fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i
            class="fa fa-google-plus fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i
            class="fa fa-pinterest fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i
            class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn"
           data-timeout="200">
        <div class="img-responsive text-center">
          <i class="fa fa-coffee logo"></i></div><!-- End image-->
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight"
           data-timeout="200">
        <p>&copy;2016 Trusted Deal Makers</p>
      </div>
      <!-- /.col-sm-4 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.footer -->

<a id="scrollup">Scroll</a>
