<app-header></app-header>


<!-- ==============================================
Hello Section
=============================================== -->

<section class="hello" id="hello">
  <div class="container">
    <h2 class="s_title">Auto Detailing </h2>
    <div class="row">
      <div class="col-sm-8 service-block margin-top-bot text-center">
        <div>
          <div class="pull-left bg-box">
            <p>Request</p>
            <h2 class="text-sky">1</h2>
          </div>
          <div class="pull-left bg-box">
            <p>offer (USD)</p>
            <h2 class="text-sky">$ 5000.00</h2>
          </div>
          <div class="pull-left bg-box">
            <p>Service Amt (USD)</p>
            <h2 class="text-sky">$ 500.00 - $ 8000.00 </h2>
          </div>
        </div>
        <div class="col-sm-12 service-block margin-top-bot text-center">
        </div>

        <div class="col-md-5">
          <div class="btn-orange">
            In Progress
          </div>
        </div>
        <!--<div class="btn btn-primary"  data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
       div with data-target
     </div>-->
      </div>

      <div class="col-sm-4 service-postedby bg-sky">
        <div class="pull-left bidding-image">
          <img src="https://trusteddealmaker.com/template/img/no_image.gif" class="img-responsive img-circle"></div>
        <div class="pull-right text-white byname "><span>Service posted by:</span> <h4 class="post_hdr_mane"><a
          href="https://trusteddealmaker.com/index.php/profile?customer_id=42" class="text-orange"> vishal rathod</a>
        </h4></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h3>Description</h3>
        <p>&nbsp;

          &nbsp;

          Testing mode

          Testing modeTesting modeTesting modeTesting modeTesting modeTesting modeTesting modeTesting modeTesting
          modeTesting modeTesting modeTesting modeTesting modeTesting modeTesting modeTesting modeTesting modeTesting
          modeTesting modeTesting modeTesting modeTes

        </p>
      </div>

    </div>
    <hr>
    <div class="row">
      <div class="col-sm-9">
        <h3>Skills</h3>
        <p>Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto
          Detailing&nbsp;Auto Detailing&nbsp;
        </p>

        <hr>
        <h3>Special Comments</h3>
        <p>Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto
          Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto
          Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto
          Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;Auto Detailing&nbsp;
        </p>
      </div>
      <div class="col-sm-3">
        <h3>Experience Required</h3>
        <p>0 Years</p>

        <hr>
        <h3>Categories</h3>
        <p>Auto, Auto Maintainance , Auto Body Repair</p>
        <hr>
        <h3>Payment Type</h3>
        <p class="payment_type">Project Basis</p>
        <p class="payment_mode hidden">Milestone</p>
      </div>
    </div>

    <hr>

    <div class="row">

      <h3>Service Availability </h3>
      <!--p>01-Aug-2016 </p-->


      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
          <tr>
            <th></th>
            <td colspan="7" style="text-align:center;">Offer Service Availability Time</td>
          </tr>

          <tr>
            <td>January</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>February</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>March</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>April</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>May</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>June</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>July</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>August</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>September</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>October</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>November</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          <tr>
            <td>December</td>
            <td>All Weeks</td>
            <td>All Days</td>
            <td>0:00</td>
            <td>0:00</td>
          </tr>
          </tbody>
        </table>

      </div>

    </div>

    <hr>

    <!--<div class="row">
    <h4 class="offer-hd4 border-orange"><span class="pull-left">Offering(1)</span> <span class="pull-right">Offer(1) USD</span></h4>

        <div class="col-sm-12 offer-list">
        <!--<h4 class="bg-orange"><span class="pull-left">Offering(1) </span>  <span class="pull-right">Offer(1) USD</span></h4> -->


    <!--		<div class="col-sm-9"><img src="img/profile-1.jpg" class="img-responsive img-circle">
            <span> Offered By: user name</span>
            </div>
            <div class="col-sm-3 text-right"><h4>$ 15345.00 </h4></div>
        </div>
    </div>-->


    <div class="row s-detail"><!--?php?--><br>
      <h3 class="offer-hd4">Offering(1) </h3>

      <div class="col-sm-12 offer-list" style="vertical-align:middle">

        <div class="row bid" data="38">
          <div class="col-sm-6">
            <img src="https://trusteddealmaker.com/template/img/no_image.gif"
                 class="img-responsive img-circle pull-left" width="100px" height="100px">
            <span class="pull-left Offer-by-name"> Offered By: <strong
              class="bidding-image cust_name "> iyke idukpaye</strong></span>
          </div>
          <div class="col-sm-3 text-center">


            <!-- CancelContract -->

            <!-- CancelContract -->
          </div>
          <div class="col-sm-3 text-right bid-sum">
            <h4 class="padding-top">$ 5000.00</h4>
            <p> in 40 hours</p>
          </div>
        </div>


      </div>
      <!--Accept cancel contract -->
      <div class="col-sm-12 offer-list" style="vertical-align:middle">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#" onclick="toggle('milestone','0');" data-something="0" data-toggle="tab"
                                aria-expanded="true">Milestone</a></li>
          <li class=""><a href="#" onclick="toggle('profile','0');" data-something="0" data-toggle="tab"
                          aria-expanded="false">Messages </a></li>
          <li><a href="#" onclick="toggle('files','0');" data-something="0" data-toggle="tab">Files</a></li>
        </ul>
        <div id="milestone_0" class="menu_item_0" data-something="0" style="display: block;">
          <h4 class="text-left offer-hd4">Milestone


            <a class="btn btn-primary biddingb btn-sm pull-right" title="Click to Request Milestone" rel="nofollow"
               onclick="requestMilestone(0);">Create Milestone </a>
          </h4>

          <div id="requestMilestoneDisp_0" class="milestone col-sm-9" style="display: block;">
            <h4 class="text-left">Milestone
              <button type="button" class="close pull-right ladda-button" data-dismiss="modal" onclick="cancel_this(0);"
                      data-style="slide-down"><span class="ladda-label">X</span><span class="ladda-spinner"></span>
              </button>
            </h4>
            <form action="https://trusteddealmaker.com/index.php/service/sendMilestone/created" method="post"
                  accept-charset="utf-8">
              <div class="col-sm-4">
                <div class="form-group input-group">

                  <span class="input-group-addon" id="sizing-addon1">$</span>
                  <input type="text" name="title" value="" class="title form-control" aria-describedby="sizing-addon1">

                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <input type="text" name="description" value="" placeholder="Milestone Description"
                         class="Description form-control">
                </div>
              </div>
              <input type="hidden" value="248" name="service_id">
              <input type="hidden" value="205" name="bid_id">
              <input type="hidden" value="1" name="offer">

              <div class="col-sm-4">
                <input type="submit" id="button_popup" class="btn btn-sm btn-primary ladda-button"
                       value="Create Milestone" data-style="slide-down">
                <button type="button" id="button_close" class="btn btn-sm btn-danger text-white ladda-button"
                        onclick="cancel_this(0);" data-style="slide-down"><span class="ladda-label">Cancel</span><span
                  class="ladda-spinner"></span></button>
              </div>
            </form>
          </div>
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                <tr>
                  <th>Amount</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>


                <tr>
                  <td>$ 500.00</td>
                  <td>This is the first milestone required</td>
                  <td>Accepted</td>
                  <td><a href="https://trusteddealmaker.com/index.php/service/ReleaseMilestone/248/288/205/offer"
                         class="btn btn-warning biddingb btn-sm">Release </a>
                  </td>

                  <td></td>
                </tr>


                <tr style="border-top: 1px solid gray;">
                  <td><b style="font-size:20px">$ 500.00</b></td>
                  <td colspan="3"><b style="font-size:20px">Total</b></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div id="profile_0" class="menu_item_0" style="display: none;" data-something="0">

          <div class="msg_display inbox " id="msg_display">
            <table class="list-order  mCustomScrollBox mCS-light" id="option-value_0">
              <tfoot></tfoot>
            </table>
          </div>
          <div class="reply_box " id="reply_box">
            <form method="post" action="" id="reply_form_0" name="reply_form_0">
              <textarea name="reply_message_0" id="reply_message_0" class="reply_textarea form-control" rows="3"
                        cols="8" placeholder="Enter message"></textarea>
              <div class="reply_actions">
                <input type="hidden" name="receiver_id_0" id="receiver_id_0" value="42">
                <input type="hidden" name="receiver_id" value="42" id="receiver_id">
                <input type="hidden" name="product_id_0" id="product_id_0" value="248">
                <input type="hidden" name="row_id_0" id="row_id_0" value="0">
                <span id="button_holder text-center">
										<button name="reply" class="btn fill-gry-btn margin-top-bot reply_button ladda-button"
                            onclick="rply($(this))" type="button" data-something="0" data-style="slide-down"><span
                      class="ladda-label">Reply0</span><span class="ladda-spinner"></span></button>
                                    </span>
              </div>
            </form>
          </div>
        </div>
        <div id="files_0" class="menu_item_0" style="display:none;" data-something="0">
          <div class="">
            <div class="">
              <form action="upload.php" class="dropzone1" id="my-awesome-dropzone" enctype="form-data/multipart">
                <div class="file-input file-input-ajax-new">
                  <div class="file-preview ">
                    <div class="close fileinput-remove">×</div>
                    <div class=" file-drop-zone">
                      <div class="file-drop-zone-title">Drag &amp; drop files here …</div>
                      <div class="file-preview-thumbnails">
                      </div>
                      <div class="clearfix"></div>
                      <div class="file-preview-status text-center text-success"></div>
                      <div class="kv-fileinput-error file-error-message" style="display: none;"></div>
                    </div>
                  </div>
                  <div class="kv-upload-progress hide">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                           aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
                        0%
                      </div>
                    </div>
                  </div>
                  <div class="input-group file-caption-main">
                    <div tabindex="500" class="form-control file-caption  kv-fileinput-caption">
                      <div class="file-caption-name"></div>
                    </div>

                    <div class="input-group-btn">
                      <button type="button" tabindex="500" title="Clear selected files"
                              class="btn btn-default fileinput-remove fileinput-remove-button ladda-button"
                              data-style="slide-down"><span class="ladda-label"><i
                        class="glyphicon glyphicon-trash"></i>  <span class="hidden-xs">Remove</span></span><span
                        class="ladda-spinner"></span></button>
                      <button type="button" tabindex="500" title="Abort ongoing upload"
                              class="btn btn-default hide fileinput-cancel fileinput-cancel-button ladda-button"
                              data-style="slide-down"><span class="ladda-label"><i
                        class="glyphicon glyphicon-ban-circle"></i>  <span class="hidden-xs">Cancel</span></span><span
                        class="ladda-spinner"></span></button>
                      <a href="https://trusteddealmaker.com/index.php/login/upload?id=248&amp;offer=1" tabindex="500"
                         title="Upload selected files" class="btn btn-default fileinput-upload fileinput-upload-button"><i
                        class="glyphicon glyphicon-upload"></i> <span class="hidden-xs">Upload</span></a>
                      <div tabindex="500" class="btn btn-primary btn-file"><i
                        class="glyphicon glyphicon-folder-open"></i>&nbsp; <span class="hidden-xs">Browse …</span><input
                        id="dropzone" name="images[]" type="file" multiple="" class="dropzone" accept=".pdf,.docx,.doc"
                        data="205"></div>
                    </div>
                  </div>
                </div>
                <div id="kvFileinputModal" class="file-zoom-dialog modal fade" tabindex="-1"
                     aria-labelledby="kvFileinputModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="kv-zoom-actions pull-right">
                          <button type="button" class="btn btn-default btn-header-toggle btn-toggleheader ladda-button"
                                  title="Toggle header" data-toggle="button" aria-pressed="false" autocomplete="off"
                                  data-style="slide-down"><span class="ladda-label"><i
                            class="glyphicon glyphicon-resize-vertical"></i></span><span class="ladda-spinner"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-fullscreen ladda-button"
                                  title="Toggle full screen" data-toggle="button" aria-pressed="false"
                                  autocomplete="off" data-style="slide-down"><span class="ladda-label"><i
                            class="glyphicon glyphicon-fullscreen"></i></span><span class="ladda-spinner"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-borderless ladda-button"
                                  title="Toggle borderless mode" data-toggle="button" aria-pressed="false"
                                  autocomplete="off" data-style="slide-down"><span class="ladda-label"><i
                            class="glyphicon glyphicon-resize-full"></i></span><span class="ladda-spinner"></span>
                          </button>
                          <button type="button" class="btn btn-default btn-close ladda-button"
                                  title="Close detailed preview" data-dismiss="modal" aria-hidden="true"
                                  data-style="slide-down"><span class="ladda-label"><i
                            class="glyphicon glyphicon-remove"></i></span><span class="ladda-spinner"></span></button>
                        </div>
                        <h3 class="modal-title">Detailed Preview
                          <small><span class="kv-zoom-title"></span></small>
                        </h3>
                      </div>
                      <div class="modal-body">
                        <div class="floating-buttons"></div>
                        <div class="kv-zoom-body file-zoom-content"></div>
                        <button type="button" class="btn btn-navigate btn-prev ladda-button" title="View previous file"
                                data-style="slide-down"><span class="ladda-label"><i
                          class="glyphicon glyphicon-triangle-left"></i></span><span class="ladda-spinner"></span>
                        </button>
                        <button type="button" class="btn btn-navigate btn-next ladda-button" title="View next file"
                                data-style="slide-down"><span class="ladda-label"><i
                          class="glyphicon glyphicon-triangle-right"></i></span><span class="ladda-spinner"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <hr>
          </div>
        </div>

      </div>


    </div>
    <div style="display:none;" id="abc">
      <div>
        <h1>this is popup</h1>
      </div>
      <div>

      </div>

    </div>
  </div>
</section><!-- End section-->

<!-- ==============================================
Footer Section
=============================================== -->
<div class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 text-left">
        <h4 class="heading no-margin">About Us</h4>
        <hr class="mint">
        <p>The Kafe. Template is the Ultimate Freelance Marketplace Template for employers and freelancers to
          connect, collaborate, and get work done.</p>
        <p>We work hard to build a great product that is beautifully designed, simple to use, user friendly with
          great focus on user experience and customer service.</p>
      </div><!-- /.col-md-4 -->

      <div class="col-md-2 col-sm-6 text-left">
        <h4 class="heading no-margin">Company</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="index.html">Home</a>
          <a href="about.html">About</a>
          <a href="jobs.html">Jobs</a>
          <a href="services.html">Freelancers</a>
          <a href="how-1.html">How it works</a>
          <a href="contact.html">Contact</a>
        </div>
      </div><!-- /.col-md-2 -->

      <div class="col-md-3 col-sm-6 text-left">
        <h4 class="heading no-margin">Other Services</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="faq.html">FAQ</a>
        </div>
      </div><!-- /.col-md-3 -->

      <div class="col-md-3 col-sm-6 text-left">
        <h4 class="heading no-margin">Browse</h4>
        <hr class="mint">
        <div class="no-padding">
          <a href="services.html">Top Freelancers this Month of June</a>
          <a href="services.html">Top Freelancers by Skill</a>
          <a href="services.html">Top Freelancers in USA</a>
          <a href="services.html">Top Freelancers in UK</a>
          <a href="services.html">Top Freelancers in Australia</a>
          <a href="services.html">Top Freelancers in Kenya</a>
        </div>
      </div><!-- /.col-md-3 -->

    </div><!-- /.row -->
    <div class="clearfix"></div>
  </div><!-- /.container-->
</div><!-- /.footer -->

<!-- ==============================================
Made Section
=============================================== -->
<section class="made">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h4 class="made-with-love">The Kafe. Template</h4>
        <p class="made-with-love-1">Handcrafted with <i class="fa fa-heart"></i> &amp; Much <i
          class="fa fa-coffee"></i> In Nairobi, Kenya.</p>
      </div>
      <!-- /.col-lg-10 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.made -->

<!-- ==============================================
Bottom Footer Section
=============================================== -->
<footer id="main-footer" class="main-footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <ul class="social-links">
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="800"><a href="#link"><i
            class="fa fa-facebook fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="600"><a href="#link"><i
            class="fa fa-twitter fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="400"><a href="#link"><i
            class="fa fa-google-plus fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft" data-timeout="200"><a href="#link"><i
            class="fa fa-pinterest fa-fw"></i></a></li>
          <li class="revealOnScroll" data-animation="slideInLeft"><a href="#link"><i
            class="fa fa-linkedin fa-fw"></i></a></li>
        </ul>
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 revealOnScroll" data-animation="bounceIn"
           data-timeout="200">
        <div class="img-responsive text-center">
          <i class="fa fa-coffee logo"></i></div><!-- End image-->
      </div>
      <!-- /.col-sm-4 -->

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-right revealOnScroll" data-animation="slideInRight"
           data-timeout="200">
        <p>&copy;2016 Trusted Deal Makers</p>
      </div>
      <!-- /.col-sm-4 -->

    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.footer -->

<a id="scrollup">Scroll</a>
